@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 32rem;
  --border-radius: 12px;

  /* MAIN COORS OF THEME */
  --old-white: #efe3d7;
  --light-gray: #cfcdcd;
  --dark-gray: #a6a6a6;
  --cake-red: #f6816e;

  /* TYPOGRAPHY CLASSES */
  --main-font-family: "Arimo";
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header {
  background-color: var(--cake-red);
  border-radius: 0 0 2rem 2rem;
}

.bg-color {
  background-color: var(--old-white);
}

.bg-dark-grey {
  background-color: var(--dark-gray);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--old-white);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray);
  }

  .bg-light-grey {
    background-color: var(--light-gray);
  }
}

@keyframes jump {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: 5px;
  }
  40% {
    bottom: 0px;
  }
}

.dot {
  position: relative;
  animation: jump 1s infinite;
}

.animation-delay-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animation-delay-2 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animation-delay-3 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
